.titulo {
    padding: 30px 70px;
}

.subtitulo {
    font-weight: normal;
    font-size: 18px;
    letter-spacing: normal;
}

.titulo-txt {
    margin-top: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}
/* Cartão */
.cartao {
    width: 320px;
    overflow: hidden;
    border-radius: 16px;
	transition: 0.3s;
}

.cartao:hover {
    transform: translateY(-5px);
}

.topo-cartao {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    background: var(--cor-primaria-clara);
}

.icon {
    font-size: 40px;
}

.conteudo {
    padding: 20px;
}

.tag {
    display: inline-block;
    margin-bottom: 10px;
    padding: 6px 12px;
    color: var(--cor-primaria);
    font-size: 12px;
    background: var(--cor-primaria-clara);
    border-radius: 20px;
}

.conteudo h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.conteudo p, .conteudo ul li {
    font-size: 14px;
}

.conteudo p {
    margin-bottom: 15px;
}

.conteudo ul {
    list-style: none;
}

.conteudo ul li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 18px;
}
/* Bolinha azul do cartão */
.conteudo ul li::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 8px;
    height: 8px;
    background: var(--cor-primaria);
    border-radius: 50%;
}
/* Quadrado azul - Plano */
.plano {
    box-sizing: border-box;
    width: clamp(200px, 70%, 750px);
    min-height: 250px;
    margin: 0 auto 40px;
    padding: 50px 40px;
    text-align: center;
    background: var(--cor-primaria);
    border-radius: 16px;
    transition: 0.5s;
}

.plano h1 {
    color: #ffffff;
    font-size: 50px;
}

.plano-texto {
    margin: 20px;
    color: #ffffff;
    font-weight: bolder;
}

/* Responsividade no celular */
@media (max-width: 1600px) {
    .titulo {
        padding: 30px 50px;
    }
}

@media (max-width: 750px) {
    .titulo {
        margin-left: 0;
        padding: 24px 16px;
    }

    .container {
        gap: 16px;
        padding: 24px 16px;
    }

    .cartao {
        flex-basis: calc((100% - 16px) / 2);
        width: calc((100% - 16px) / 2);
    }

    .plano {
        width: calc(100% - 32px);
        padding: 40px 24px;
    }

    .plano h1 {
        font-size: 38px;
    }
}

@media (max-width: 520px) {
    .cartao {
        flex: 0 0 320px;
        width: 320px;
    }
    .plano {
        width: 320px;
    }
    .plano h1 {
        font-size: 30px;
    }
}

@media (max-width: 360px) {
    .cartao {
        flex-basis: calc(100% - 4px);
        width: calc(100% - 16px);
    }
	.plano {
        width: 90%;
    }
}
